*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li a {
    font-weight: 500;
    font-family: 'Ubuntu';
    font-size: 16pt;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding */
}

.nav__links {
    list-style: none;
    margin-left: 47rem;
    margin-top: 1rem;
}

.nav__links li {
    display: inline-block;
    margin-right: 3rem;
}

.nav__links a {
    transition: all 0.3s ease 0s;
}

.nav__links a:hover {
    color: red;
}

.form-control-div {
    margin-top: 15rem;
    margin-left: 15rem;
}

.form-control-div input[type=text]{
    border: none;
    outline: none;
    height: 1.9rem;
    width: 17rem;
    border-radius: 2pt;
    background-color: white;
    color: black;
    padding: 0.5em;
}

.form-control-div input[type=text]:focus{
    transition: all 0s ease 0s;
    box-shadow: 0pt 0pt 5pt 3pt red;
}

.usern-label {
    color: white;
    font-size: 15pt;
    margin-bottom: 1rem;
    font-family: 'Ubuntu';
}

.email-label {
    color: white;
    font-size: 15pt;
    margin-bottom: 1rem;
    font-family: 'Ubuntu';
}

.signup-btn {
    margin-left: 6rem;
    margin-top: 2rem;
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 5pt;
    background-color: rgb(241, 63, 63);
    font-family: 'Questrial';
    font-size: 15pt;
}

.signup-btn:hover {
    transition: all 0s ease 0s;
    background-color: red;
}